<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Living Bridge Media</title>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap"
      rel="stylesheet"
    />
    <script src="/js/responsiveNavbar.js" defer></script>

    <!-- end fonts -->
  </head>
  <body>
    <!--header-->
    <div class="navbar">
      <nav>
        <div class="logo-grid">
          <a href="/">
            <img
              class="nav-logo"
              src="/images/hdr - LBMC logo.png"
              alt="Living Bridge Ministry Logo"
            />
          </a>
        </div>
        <div class="navbar-links mobile-navbar">
          <div>
            <li><a href="/" class="mobile-nav-tag">Home</a></li>
          </div>
          <div>
            <li><a href="/samples" class="mobile-nav-tag">Samples</a></li>
          </div>
          <div>
            <li>
              <a href="/programming" class="mobile-nav-tag">Programming</a>
            </li>
          </div>
          <div>
            <li>
              <a href="/monthly-promo-packs" class="mobile-nav-tag"
                >Monthly Promo Packs</a
              >
            </li>
          </div>
          <div>
            <li>
              <a href="/featured-resource" class="mobile-nav-tag"
                >Featured Resource</a
              >
            </li>
          </div>
          <div>
            <li>
              <a href="/marketing-resources-IFLC" class="mobile-nav-tag"
                >Marketing Resources</a
              >
            </li>
          </div>
          <div>
            <li><a href="/contact" class="mobile-nav-tag">Contact</a></li>
          </div>
          <div>
            <li>
              <form method="post" action="/logout">
                <button class="mobile-nav-tag nav-button" type="submit">
                  Sign Out
                </button>
              </form>
            </li>
          </div>
        </div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="mobile-x-button"></div>
        <div class="nav-grid">
          <a href="/" class="nav-tag">Home</a>
          <a href="/samples" class="nav-tag">Samples</a>
          <form method="post" action="/logout">
            <button class="mobile-nav-tag nav-button" type="submit">
              Sign Out
            </button>
          </form>
        </div>
      </nav>

      <div class="secondary-nav-bar">
        <div class="secondary-nav-bar-grid">
          <a href="/programming" class="secondary-nav-bar-tag">Programming</a>
          <a href="/monthly-promo-packs" class="secondary-nav-bar-tag"
            >Monthly Promo Packs</a
          >
          <a href="/featured-resource" class="secondary-nav-bar-tag"
            >Featured Resource</a
          >
          <a href="/marketing-resources-IFLC" class="secondary-nav-bar-tag"
            >Marketing Resources</a
          >
          <a href="/contact" class="secondary-nav-bar-tag">Contact</a>
        </div>
      </div>
    </div>
    <img
      class="introduction-photo"
      src="/images/Component 23 – 3.png"
      alt="Living Bridge Ministry Introduction Photo"
    />
    <!--end header-->
  </body>
</html>
