<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Living Bridge Media</title>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap"
      rel="stylesheet"
    />

    <!-- end fonts -->
    <script src="/js/responsiveNavbar.js" defer></script>
  </head>
  <body>
    <!--header-->

    <nav>
      <div class="logo-grid">
        <a href="/">
          <img
            class="nav-logo"
            src="images/hdr - LBMC logo.png"
            alt="Living Bridge Ministry Logo"
          />
        </a>
      </div>
      <div class="navbar-links mobile-navbar">
        <div>
          <li><a href="/" class="mobile-nav-tag">Home</a></li>
        </div>
        <div>
          <li><a href="/samples" class="mobile-nav-tag">Samples</a></li>
        </div>

        <div>
          <li>
            <a href="/sign-in" class="mobile-nav-tag"
              ><strong>Sign In</strong></a
            >
          </li>
        </div>
      </div>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="nav-grid">
        <a href="/" class="nav-tag">Home</a>
        <a href="/samples" class="nav-tag">Samples</a>
        <a href="/sign-in" class="nav-tag"><strong>Sign In</strong></a>
      </div>
    </nav>

    <img
      class="introduction-photo"
      src="images/Component 23 – 3.png"
      alt="Living Bridge Ministry Introduction Photo"
    />
    <!--end header-->
  </body>
</html>
