
    <!--footer-->
    <footer>
        <div class="footer-content">
          <div class="desktop-footer">
          <a href="https://www.insightforliving.ca/privacy-policy" target="_blank" class="footer-link">PRIVACY POLICY</a>&nbsp; | &nbsp;
          <a href="https://www.insightforliving.ca/terms-use" target="_blank" class="footer-link">TERMS OF USE</a>&nbsp; |
          &nbsp; <a href="/sign-in" class="footer-link">SIGN IN</a>&nbsp; | &nbsp; <a href="/contact" class="footer-link">CONTACT US</a
          >
        </div>

        <div class="mobile-footer">
          <a href="https://www.insightforliving.ca/privacy-policy" target="_blank" class="footer-link">PRIVACY POLICY</a>
          <a href="https://www.insightforliving.ca/terms-use" target="_blank" class="footer-link">TERMS OF USE</a>
          
          <a href="/sign-in" class="footer-link">SIGN IN</a>
          <a href="/contact" class="footer-link">CONTACT US</a
            >
        </div>

        <br />
          <p>
            <em>Copyright 2021 Living Bridge Media Canada</em>
          </p>
        </div>
      </footer>
  
      <!--end footer-->
    </body>
  </html>
  