<%- include("partials/header"); -%>

<!--body-->

<div class="main-content">
  <h2>Frequently Asked Questions</h2>

  <div class="FAQ-grid">
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/what-is-livingbridge"
      >What is Living Bridge Media Canada?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/what-is-livingbridge#q2"
      >Who do I contact when I have a question?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/what-is-livingbridge#q3"
      >Where do I send my contract?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/what-is-livingbridge"
      >How do I add more Insight for Living Canada programming to my schedule
    </a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/what-amb-os"
      >Are there Amb-OS instructions to set up Insight for Living Canada program
      delivery?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/ftp-instructions"
      >Are there FTP instructions for downloading Insight for Living Canada
      Programs?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/promo-packs"
      >How do I use the promo packs?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/featured-resources#q1"
      >What is the featured resource?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/featured-resources#q2"
      >How do I request the featured resource?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/featured-resources#q3"
      >What if I want more than five featured resources?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/featured-resources#q4"
      >What if I'm requesting featured resources for multiple stations?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/when-swindoll-visiting-my-area"
      >When is Chuck Swindoll visiting my area?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/promos#q1"
      >Do you have generic promos I can use?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/promos#q2"
      >Do you make customized promos?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/loop-email"
      >How do I get on the email list?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/customized-web-banner"
      >Can I request a customized web banner?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/featured-resources#q5"
      >I'm having a shareathon. How do I request product?</a
    >
    <a class="FAQ-link FAQ-item" href="/FAQ-answers/can-someone-sponsor-insight-living">How do you feel about sponsorship?</a>

    <p class="FAQ-email-section">
      <em
        >Have a question that is not answered here? Send us an
        <a
          class="main-content-link"
          href="mailto:livingbridge@insightforliving.ca"
          >email</a
        >.</em
      >
    </p>
  </div>
</div>

<!--end body-->

<%- include("partials/footer"); -%>
