<%- include("partials/header"); -%>

<!--body-->

<div class="main-content">
  <h2>Marketing Resources</h2>
  <p>
    Provided marketing resources are for web and/or print promotion only. Please
    do not modify the files in any way that results in a loss of quality,
    including but not limited to change of rotation, size/scale, and colour. If
    you are unsure of how to make these resources fit your needs, please
    <a class="main-content-link" href="mailto:livingbridge@insightforliving.ca"
      >contact Living Bridge Media</a
    >
    about customization.
  </p>

  <div class="marketing-resources-links">
    <a class="marketing-resources-link" href="marketing-resources-IFLC" style="color: black">INSIGHT FOR LIVING CANADA</a>
    <a class="marketing-resources-link" href="marketing-resources-LIFETRAC" >LIFETRAC</a>
    <a class="marketing-resources-link" href="marketing-resources-PAWS" >PAWS & TALES</a>
  </div>
  <div class="marketing-resources-content">
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
  </div>
</div>

<!--end body-->

<%- include("partials/footer"); -%>
