<%- include("partials/header"); -%>
<!--body-->

<div class="main-content">
  <h2>Monthly Promo Packs</h2>
  <p>
    Monthly Promo Packs Living Bridge Media Canada updates and distributes
    promotional materials each month to keep ministry partners up-to-date with
    what’s happening at Insight for Living Canada on the air and behind the
    scenes.<br /><br />

    Email notifications are sent when new resources are ready for download. To
    sign up for these monthly emails please contact
    <a class="main-content-link" href="mailto:livingbridge@insightforliving.ca"
      >livingbridge@insightforliving.ca</a
    >
    with your request.<br /><br />

    Aside from broadcast schedules for each program there are daily, weekend,
    and Paws & Tales promo scripts, detailed descriptions of our featured
    resource, <a class="main-content-link" href="featured-resource">available for ministry partners to request for promotions</a>, and
    customized Amb-OS track sheets.
  </p>

  <div class="monthly-promo-packs-grid">
    <div>
      <ul class="monthly-promo-packs-ul">
        <li>
          <strong>January 2021</strong>
        </li>
        <li>Download complete promo pack: (PDF)</li>
        <li><a class="main-content-link" href="#">Insight for Living Canada Promotional Material-January 2020</a></li>
        <li>Download promo pack sections: (PDFs)</li>
        <li><a class="main-content-link" href="#">Cover Letter</a></li>
        <li><a class="main-content-link" href="#">Daily Message Titles and Promos</a></li>
        <li><a class="main-content-link" href="#">Featured Resource</a></li>
        <li><a class="main-content-link" href="#">Insights Track Scheet</a></li>
        <li><a class="main-content-link" href="#">LifeTrac Track Sheet</a></li>
        <li><a class="main-content-link" href="#">Paws & Tales Track Sheet and Promos</a></li>
        <li><a class="main-content-link" href="#">Weekend Message Titles and Promos</a></li>
      </ul>
    </div>

    <div>
      <ul class="monthly-promo-packs-ul">
        <li>
          <strong>February 2021</strong>
        </li>
        <li>Download complete promo pack: (PDF)</li>
        <li><a class="main-content-link" href="#">Insight for Living Canada Promotional Material-February 2020</a></li>
        <li>Download promo pack sections: (PDFs)</li>
        <li><a class="main-content-link" href="#">Cover Letter</a></li>
        <li><a class="main-content-link" href="#">Daily Message Titles and Promos</a></li>
        <li><a class="main-content-link" href="#">Featured Resource</a></li>
        <li><a class="main-content-link" href="#">Insights Track Scheet</a></li>
        <li><a class="main-content-link" href="#">LifeTrac Track Sheet</a></li>
        <li><a class="main-content-link" href="#">Paws & Tales Track Sheet and Promos</a></li>
        <li><a class="main-content-link" href="#">Weekend Message Titles and Promos</a></li>
      </ul>
    </div>
  </div>
</div>

<!--end body-->

<%- include("partials/footer"); -%>
