<%- include("partials/header"); -%>

<!--body-->

<div class="main-content">
  <h2>Programming</h2>
  <p>
    <strong><em>Delivery:</em></strong> Insight for Living Canada programming is
    available via
    <a class="main-content-link" href="/FAQ-answers/what-amb-os">Amb-OS</a>
    (automated download) and
    <a class="main-content-link" href="/FAQ-answers/ftp-instructions">FTP</a>
    (manual download). Each link will deliver detailed and specific set-up
    instructions. <br /><br />

    <strong><em>Program Naming:</em></strong> Insight for Living Canada programs
    follow specific naming formulas.
    <a class="main-content-link" href="/FAQ-answers/what-amb-os"
      >Follow the link</a
    >
    for a complete list of names and formulas. <br /><br />

    <strong><em>Sample Programs:</em></strong> We have a wide variety of
    programming to suit any station’s needs. You can preview
    <a class="main-content-link" href="/samples">samples</a> of each program
    from the Samples tab or contact
    <a class="main-content-link" href="mailto:livingbridge@insightforliving.ca"
      >livingbridge@insightforliving.ca</a
    >
    for more information. <br /><br />

    <strong><em>Standby Programs:</em></strong> We understand there are times
    you need replacement messages. Standby broadcasts for our daily and weekend
    Insight for Living programs are available from our FTP. If you need standby
    messages for any other programs please contact
    <a class="main-content-link" href="mailto:livingbridge@insightforliving.ca"
      >livingbridge@insightforliving.ca</a
    >
    with your request.
  </p>
</div>

<!--end body-->

<%- include("partials/footer"); -%>
