<%- include("partials/header"); -%>

    <!--body-->

   
    <div class="main-content">
        
        <form class="sign-in-form" method="post" action="/Register">  
            <h2>Register</h2>          
            <input name="username" type="text" placeholder="Username" required> 
            <input name="password" type="password" placeholder="Password" required>
            <button type="submit">Register</button>
        </form>

        
        

    </div>
    

    <!--end body-->

<%- include("partials/footer"); -%>