<%- include("../partials/header"); -%>

<!--body-->

<div class="main-content">
  <h2>Can Someone Sponsor Insight for Living?</h2>

  <p>
    Insight for Living Canada is willing to discuss the option of programs or
    contracts being sponsored. While this has worked well in the past it doesn’t
    always, so each agreement needs to be arranged individually. To inquire
    about sponsorship please email Robyn at
    <a class="main-content-link" href="livingbridge@insightforliving.ca"
      >livingbridge@insightforliving.ca</a
    >
    or call 1.800.663.7639.
  </p>
</div>

<!--end body-->

<%- include("../partials/footer"); -%>
