<%- include("../partials/header"); -%>

<!--body-->

<div class="main-content">
  <h2>Customized Web Banner</h2>

  <p>
    If you would like a customized web banner we are more than happy to provide
    that for you. Simply email <a class="main-content-link" href="livingbridge@insightforliving.ca">livingbridge@insightforliving.ca</a> with your
    request. If you would like your logo added to the banner also include it as
    an attachment.
  </p>

  <p>
    Insight for Living Canada employs an in-house designer so customized web
    banners can be provided quickly and to the highest quality.
  </p>
</div>

<!--end body-->

<%- include("../partials/footer"); -%>
