<%- include("../partials/header"); -%>

<!--body-->

<div class="main-content">
  <h2>Featured Resources</h2>
  <p id="q1">
    <strong>What is the Featured Resource?</strong>
  </p>
  <p>
    Each month Insight for Living Canada offers listeners a Bible-teaching
    resource at a drastically reduced price. This is usually a book, teaching
    booklet, or CD message from Chuck Swindoll and Insight for Living.
  </p>

  <p>
    This same resource is offered to ministry partners as a promotional product.
    This not only supports what's already being advertised in the program but is
    a product not available anywhere else. These products may be used in any
    promotional capacity including on air giveaways, raffles, draws, shareathon
    prizes, etc. These products may not be sold and are not intended to be staff
    gifts.
  </p>

  <p id="q2">
    <strong>How Do I Request the Featured Resource?</strong>
  </p>

  <p>
    The request process has been streamlined to a
    <a
      class="main-content-link"
      href="/featured-resource#request-featured-resource-form"
      >form</a
    >, which is sent directly to Insight for Living Canada. If the product is in
    stock, it will be shipped immediately. The form collects your name, station
    information, email address (in case there are any problems), and quantity
    requested with the options of one to five products.
  </p>
  <p id="q3">
    <strong>What if I Want More than Five?</strong>
  </p>
  <p>
    We limit the amount of resources ministry partners can request each month to
    five but there have been occasional exceptions. If you wish to request more
    than five of any featured resource please contact
    <a class="main-content-link" href="mailto:livingbridge@insightforliving.ca"
      >livingbridge@insightforliving.ca</a
    >.
  </p>
  <p id="q4">
    <strong
      >What if I'm Requesting Products for Multiple Radio Stations?</strong
    >
  </p>
  <p>Each station request must be submitted separately.</p>
  <p id="q5">
    <strong>Can You Send Me Products For My Shareathon?</strong>
  </p>
  <p>
    You are free to request our featured resource to use for your shareathon. If
    you would like more or different products please direct your request to
    <a class="main-content-link" href="mailto:livingbridge@insightforliving.ca"
      >livingbridge@insightforliving.ca</a
    >.
  </p>
</div>

<!--end body-->

<%- include("../partials/footer"); -%>