<%- include("../partials/header"); -%>

<!--body-->

<div class="main-content">
  <h2><strong>FTP Instructions</strong></h2>
  <p>
    If you prefer to download Insight for Living Canada files manually, please
    follow these instructions. For technical support contact Robyn at
    <a class="main-content-link" href="mailto:livingbridge@insightforliving.ca"
      >livingbridge@insightforliving.ca</a
    >
    or call 1.800.663.7639.
  </p>
  <p>
    <strong>Login Details</strong>
  </p>
  <ul class="main-content-ul">
    <li><strong>Host:</strong> ftp.livingbridgemedia.ca</li>
    <li><strong>Username:</strong> stationuser</li>
    <li><strong>Password:</strong> LB2012iflc</li>
    <li><strong>Port:</strong> 21 (default)</li>
  </ul>
  <p><strong>Download</strong></p>
  <p>
    While any FTP program will work to connect, we reccomend the FileZilla
    client as a free PC download
    <a
      class="main-content-link"
      href="http://sourceforge.net/projects/filezilla/"
      target="_blank"
      >(http://sourceforge.net/projects/filezilla/)</a
    >.
  </p>
  <p><strong>Install</strong></p>
  <ol class="main-content-ul">
    <li>Install the client by double clicking the downloaded exe file</li>
    <li>Select "I Agree"</li>
    <li>
      Select the appropriate option for who this software should be available
      too. Click “Next” when done
    </li>
    <li>
      For easy access to FileZilla, ensure the “Desktop Icon” component is
      checked off for installation. Click “Next” when done
    </li>
    <li>
      Click “Next” to accept the default location or change the desired
      destination folder if needed, then click “Next”
    </li>
    <li>Click Install</li>
    <li>Click “Finish” when done</li>
  </ol>
  <p><strong>Connecting with FileZilla</strong></p>
  <p>
    Once FileZilla is running you can enter the Host, Username, Password and
    Port listed above into the appropriate section in the top bar.
  </p>
  <p>When finished, select “Quickconnect.”</p>
  <img src="/images/FAQ-images/ftp-instructions.png" />
  <p><strong>Downloading Broadcast Files</strong></p>
  <p>
    After it has connected to the server you will be able to see the remote
    server and broadcast files on the right, with your local computer and
    directories on the right. Simply drag the files on the right to the
    appropriate directory on your computer (the left) to begin downloading.
  </p>
  <p><strong>Naming</strong></p>
  <p>
    Program naming has changed slightly to reflect consistency with Amb-OS
    naming. The naming template is straightforward:
    <strong><em>MMMM_PPPP_MM-DD-YY_PN-TP_VVVV.MP2</em></strong>
  </p>
  <ul class="main-content-ul">
    <li>MMMM = Ministry Name</li>
    <li>PPPP = Program Name</li>
    <li>MM-DD-YY = Program air date</li>
    <li>PN-TP = Part Number (PN) of Total Parts (TP)</li>
    <li>VVVV = Version</li>
  </ul>
  <p>Insight for Living Canada program naming is as follows:</p>
  <ul class="main-content-ul">
    <li>Daily (Canadian): IFLM_IFL5_MM-DD-YY_01-01_CANA</li>
    <li>Weekend: IFLM_IFL1_MM-DD-YY_01-01_CANA</li>
    <li>Paws & Tales: IFLM_PAT1_MM-DD-YY_01-01_CANA</li>
    <li>Insights (Short Features): IFLM_ISF5_MM-DD-YY_01-01_CANA</li>
    <li>LifeTrac: IFLM_LIF5_MM-DD-YY_01-10</li>
  </ul>

  <p>Vision Para Vivir Canada program naming is as follows:</p>

  <ul class="main-content-ul">
    <li>Vision Para Vivir (Weekday): IFLM_VIV5_MM-DD-YY_01-01_CANA</li>
    <li>Vision Para Vivir (Weekend): IFLM_VPV1_MM-DD-YY_01-01_CANA</li>
    <li>Viviencias: IFLM_VIV5_MM-DD-YY_01-01</li>
  </ul>
  <p><strong>Troubleshooting</strong></p>
  <p>
    To add programming and for technical support contact Insight for Living
    Canada at
    <a class="main-content-link" href="mailto:livingbridge@insightforliving.ca"
      >livingbridge@insightforliving.ca</a
    >.
  </p>
</div>

<!--end body-->

<%- include("../partials/footer"); -%>
