<%- include("../partials/header"); -%>

<!--body-->

<div class="main-content">
  <h2>In the Loop email</h2>

  <p>
    On the last Wednesday before the next broadcast month Living Bridge Media
    Canada sends out an <em>In the Loop</em> email to all ministry partners.
  </p>

  <p>
    This monthly letter keeps you on top of what’s happening at Insight for
    Living Canada. Included in each issue is:
  </p>

  <ul class="main-content-ul">
    <li>Information on the new featured resource available for promotions</li>
    <li>A reminder to download the new promo pack</li>
    <li>An overview of what’s on the air for the next month</li>
    <li>Relevant news and events</li>
  </ul>

  <p>
    If you are not receiving this email first check it is not caught in your
    spam filter. To be added to the email list please contact
    <a class="main-content-link" href="mailto:livingbridge@insightforliving.ca"
      >livingbridge@insightforliving.ca</a
    > with your request.
  </p>
  
</div>

<!--end body-->

<%- include("../partials/footer"); -%>
