<%- include("../partials/header"); -%>

<!--body-->

<div class="main-content">
  <h2>Promos</h2>

  <p id="q1">
    <strong>Generic Promos</strong><br />
    Chuck Swindoll has recorded promos for ministry partners to use. They can be
    downloaded from our
    <a class="main-content-link" href="ftp-instructions">FTP</a> from the
    directory “Promos.” For use at your discretion there are
    <em>Insight for Living</em> promos, shareathon promos, and anniversary
    promos.
  </p>

  <p id="q2">
    <strong>Customized Promos</strong><br />
    Insight for Living Canada is happy to provide customized promos and spots
    voiced by executive director Steve Johnson. Please direct your requests to
    <a class="main-content-link" href="mailto:livingbridge@insightforliving.ca"
      >livingbridge@insightforliving.ca</a
    >
  </p>

  <p>
    <strong>Monthly Promos</strong><br />
    <em>Insight for Living</em>weekday and weekend promos voiced by program
    announcer Dave Spiker are available each month from
    <a class="main-content-link" href="what-amb-os">Amb-OS</a> and FTP. These
    include daily promos, weekend promos, and overview promos.
  </p>

  <p>
    <em>Paws & Tales</em> promos are also available each month from Amb-OS and
    FTP.
  </p>

  <p>
    <strong>Other Spots</strong><br />
    If you're looking for humorous clips from Chuck's popular Laughter CD there
    are several clips available for download from our FTP in the directory
    “Promos.”
  </p>
  <p>
    It is important to note these promotional audio tracks are protected by US
    and International copyright laws and are provided only for radio broadcast
    or streaming digital transmission. For any other use you must obtain written
    permission from Insight for Living including but not limited to making them
    publicly available for download. All copyright questions can be directed to
    <a class="main-content-link" href="mailto:rights@insight.org"
      >rights@insight.org</a
    >.
  </p>
</div>

<!--end body-->

<%- include("../partials/footer"); -%>
