<%- include("../partials/header"); -%>

<!--body-->

<div class="main-content">
  <h2>Promo Packs</h2>
  <p>
    The monthly promotional material is designed to further enhance and support
    the programming from Insight for Living Canada.
  </p>
  <p>
    <strong>Cover Letter</strong><br />
    A recap of Living Bridge Media Canada's <em>"In the Loop email"</em>, this
    monthly letter keeps you on top of what's happening at Insight for Living
    Canada. Included in each letter is:
  </p>

  <ul class="main-content-ul">
    <li>Information on the new featured resource available for promotions</li>
    <li>A reminder to download the new promo pack</li>
    <li>An overview of what's on the air for the next month</li>
    <li>Relevant news and events</li>
  </ul>

  <p>
    <strong>Daily Message Titles and Promos </strong><br />This is a
    comprehensive at-a-glance look at what will be on the weekday <em>Insight for
    Living</em> program for the coming month. Also included are daily promo scripts
    for announcers to use as live liners, to enhance their jock talk, etc.
  </p>
  <p><strong>Featured Resource </strong><br /></p>
  <p>
    <strong></strong><br />For in-depth information about each month's
    promotional product this is your best source. While we make five products
    available to ministry partners to use for promotions this product is also
    offered to listeners as our featured resource on the air.
  </p>
  <p>
    <strong><em>Insights</em> Amb-OS Track Sheet </strong><br />If you receive the
    <em>Insights</em> one-minute feature via Amb-OS this track sheet will give you the
    file names, track names, and associated Bible verse of the programs for the
    coming month.
  </p>
  <p>
    <strong><em>Insights</em> Track Sheet </strong><br />If you manually download the
    Insights one-minute feature from our FTP this track sheet will give you the
    file names, track names, and associated Bible verse of the programs for the
    coming month.
  </p>
  <p>
    <strong><em>LifeTrac</em> Amb-OS Track Sheet </strong><br />If you receive the
    <em>LifeTrac</em> five-minute feature via Amb-OS this track sheet will give you the
    file names, track names, and associated Bible verse of the programs for the
    coming month. It is important to note this is relevant only to those who use
    the “daily” versions of LifeTrac from Amb-OS. Those using the “monthly”
    <em>versions</em> of LifeTrac can refer to the LifeTrac Track Sheet.
  </p>
  <p>
    <strong><em>LifeTrac</em> Track Sheet </strong><br />If you manually download the
    LifeTrac five-minute feature from our FTP or use the “monthly” versions of
    LifeTrac from Amb-OS this track sheet will give you the file names, track
    names, and associated Bible verse of the programs for the coming month.
  </p>
  <p>
    <strong><em>Paws & Tales</em> Track Sheet and Promos </strong><br />The track sheet
    includes the title, air date, promo timing, full length, and song
    information of each episode. The promo sheet offers 30-second scripts for
    announcers to use as live liners, to enhance their jock talk, etc.
  </p>
  <p>
    <strong>VPV Track Sheet </strong><br />For stations airing Vision Para Vivir
    weekday and weekend programming, this is a comprehensive at-a-glance look at
    what will be on the program for the coming month.
  </p>
  <p>
    <strong>Weekend Message Titles and Promos </strong><br />This is a
    comprehensive at-a-glance look at what will be on the weekend <em>Insight for
    Living</em> program for the coming month. Also included are daily promo scripts
    for announcers to use as live liners, to enhance their jock talk, etc.
  </p>
</div>

<!--end body-->

<%- include("../partials/footer"); -%>
