<%- include("../partials/header"); -%>

<div class="main-content">
  <h2>What is Living Bridge Media Canada?</h2>
  <p>
    Living Bridge Media Canada is the in-house agency for Insight for Living
    Canada. While Insight for Living Canada handles contract negotiations,
    scheduling, and billing, Living Bridge Media Canada works to provide
    ministry partners with the resources they need to air Insight for Living
    Canada syndicated audio programming.
  </p>

  <p><strong>Living Bridge Media Canada’s services include:</strong></p>
  <ul class="main-content-ul">
    <li>Program delivery</li>
    <li>Media kits</li>
    <li>Marketing resources</li>
    <li>Customized programming</li>
    <li>Promotional support</li>
    <li>Administrative support</li>
    <li>Troubleshooting</li>
  </ul>
  <p id="q2">
    Direct any and all inquiries to Robyn Roste, Living Bridge Media Manager at
    <a class="main-content-link" href="mailto:livingbridge@insightforliving.ca"
      >livingbridge@insightforliving.ca</a
    >
    or 1.800.663.7639.
  </p>
  <p id="q3">
    All contracts can be sent to Insight for Living Canada by email to
    <a class="main-content-link" href="mailto:livingbridge@insightforliving.ca"
      >livingbridge@insightforliving.ca</a
    >
    or by fax to 1.604.870.8743. 
  </p>
</div>

<%- include("../partials/footer"); -%>
