<%- include("../partials/header"); -%>

<!--body-->

<div class="main-content">
  <h2>What is Amb-OS?</h2>
  <p>
    Amb-OS is an Internet-based (satellite-based in the US) automated file
    delivery system. In Canada we began testing the system the week of October
    31, 2011. Most stations airing inspirational programming already have Amb-OS
    operational and in the long run the hope is to divert all stations to this
    system.
  </p>
  <p>
    The benefits are this system supports customized and last-minute changes
    without the end user having to even be aware of it. This will cut out many
    potential errors in programming and will also keep programs airing in the
    correct time slot, as everything is pre-programmed into the system.
  </p>

  <p><strong>Naming</strong></p>
  <p>
    The naming template is straightforward:
    <strong><em>MMMM_PPPP_MM-DD-YY_PN-TP_VVVV.MP2</em></strong>
  </p>

  <ul class="main-content-ul">
    <li>MMMM = Ministry Name</li>
    <li>PPPP = Program Name</li>
    <li>MM-DD-YY = Program air date</li>
    <li>PN-TP = Part Number (PN) of Total Parts (TP)</li>
    <li>VVVV = Version</li>
  </ul>

  <p>Insight for Living Canada program naming is as follows:</p>
  <ul class="main-content-ul">
    <li>Daily (Canadian): IFLM_IFL5_MM-DD-YY_01-01_CANA</li>
    <li>Daily (Border): IFLM_IFL5_MM-DD-YY_01-01_BORD</li>
    <li>Weekend: IFLM_IFL1_MM-DD-YY_01-01_CANA</li>
    <li>Paws & Tales: IFLM_PAT1_MM-DD-YY_01-01_CANA</li>
    <li>Insights (Short Features): IFLM_ISF5_MM-DD-YY_01-01_CANA</li>
    <li>LifeTrac (Daily): IFLM_LIF5_MM-DD-YY_01-01</li>
    <li>LifeTrac (Monthly): IFLM_LIF5_MM-DD-YY_01-10</li>
  </ul>
  <p>Vision Para Vivir Canada program naming is as follows:</p>

  <ul class="main-content-ul">
    <li>Vision Para Vivir (Weekday): IFLM_VIV5_MM-DD-YY_01-01_CANA</li>
    <li>Vision Para Vivir (Weekend): IFLM_VPV1_MM-DD-YY_01-01_CANA</li>
    <li>Viviencias: IFLM_VIV5_MM-DD-YY_01-01</li>
  </ul>
  <p><strong>Troubleshooting </strong></p>
  <ul class="main-content-ul">
    <li>
      To add programming contact Insight for Living Canada at
      <a
        class="main-content-link"
        href="mailto:livingbridge@insightforliving.ca"
        >livingbridge@insightforliving.ca</a
      >.
    </li>
    <li>
      For technical support contact Amb-OS at
      <a class="main-content-link" href="mailto:support@amb-os.com"
        >support@amb-os.com</a
      >
      or 1.877.AMBOS2U (1.877.262.6728).
    </li>
    <li>
      For tutorials, FAQ, and more information about Amb-OS visit
      <a
        class="main-content-link"
        href="https://www.amb-os.com/"
        target="_blank"
        >amb-os.com</a
      >.
    </li>
  </ul>
</div>

<!--end body-->

<%- include("../partials/footer"); -%>
