<%- include("../partials/header"); -%>

<!--body-->

<div class="main-content">
  <h2>When is Chuck Swindoll Visiting My Area?</h2>

  <p>
    Because Chuck is already committed to Insight for Living, Dallas Theological
    Seminary, and Stonebriar Community Church, his travel schedule rarely
    diverts from conferences and events for these organizations. As well he has
    made it a firm policy to decline all speaking invitations not directly
    related to these three ministries.
  </p>
  <p>
    If he happens to be passing through your area we will be sure to let you
    know!
  </p>

  <p>
    Insight for Living Canada’s executive director Steve Johnson is available
    for station visits, interviews, and events. When a trip is planned Living
    Bridge Media Canada works hard to ensure all stations in the area are
    contacted. If you would like to set up a visit or interview please contact
    Michelle at
    <a class="main-content-link" href="mailto:livingbridge@insightforliving.ca"
      >livingbridge@insightforliving.ca</a
    >
    or call 1.800.663.7639.
  </p>
</div>

<!--end body-->

<%- include("../partials/footer"); -%>
